#footer{
    background: transparent;
}

#footer-wrap{
    color: #FFFFFF;
}

#nav #he-plugin-simple{
    text-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
    font-weight: bold;
    cursor: pointer;
}

#nav #he-plugin-simple, #page-header.nav-fixed #nav #toggle-menu {
    color: var(--font-color);
    text-shadow: none;
}

#weibo-container{
  width: 100%;
  height: 150px;
  font-size: 95%;
}

.weibo-new{
  background:#ff3852
}
.weibo-hot{
  background:#ff9406
}










