#page-header #site-title {
    font-size: 3em;
}

#footer{
    background: transparent;
}

#footer-wrap{
    color: #FFFFFF;
}

#nav #he-plugin-simple{
    text-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
    font-weight: bold;
    cursor: pointer;
}

#nav #he-plugin-simple, #page-header.nav-fixed #nav #toggle-menu {
    color: var(--font-color);
    text-shadow: none;
}

#weibo-container{
  width: 100%;
  height: 150px;
  font-size: 95%;
}

.weibo-new{
  background:#ff3852
}
.weibo-hot{
  background:#ff9406
}





/* 波浪css */
.main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: 5;
}
.waves-area .waves-svg {
  width: 100%;
  height: 5rem;
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #efeff39d;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #dfe0e676;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #7579943b;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #282a3362;
}
/* 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #0f172ab3;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #0f172a80;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #0f172a4d;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #070b14;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves-area .waves-svg {
    height: 40px;
    min-height: 40px;
  }
}


.loading-img {
  background: url(/img/profile2.png) no-repeat center center;
  background-size: cover;
}

@font-face{
  font-family:'NewFont' ;  /* 字体名自定义即可 */
  src:url('/fonts/font3.ttf'); /* 字体文件路径 */
  font-display : swap;
}

h1#site-title {
  font-family: 'NewFont', sans-serif;
}



/* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
  animation: huxi_light 4s ease-in-out infinite;
}
[data-theme="dark"] .avatar-img {
  animation: huxi_dark 4s ease-in-out infinite;
}
@keyframes huxi_light {
  0% {
    box-shadow: 0px 0px 1px 1px #e5f2ff;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #e5f2ff;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #e5f2ff;
  }
}
@keyframes huxi_dark {
  0% {
    box-shadow: 0px 0px 1px 1px #99ccff;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #99ccff;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #99ccff;
  }
}

/* Twikoo评论框高度设置 */
.el-textarea__inner {
    min-height: 100px !important;
  }

/* Twikoo评论框添加背景图
小女孩吹空调：background-image: url(https://raw.githubusercontent.com/drew233/cdn/master/20200409110727.webp)
*/
.el-textarea {
	background-image: url(https://s2.loli.net/2022/02/06/gy6AcWI4MTjrNVx.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(0, 0, 255, 0);
	resize: vertical
}


/* Twikoo评论框背景图实现点击下移
.el-textarea:focus-within {
	background-position-y: 800px;
	transition: all 0.2s ease-in-out 0s;
}
*/

/* 背景
#web_bg {

  background: -webkit-linear-gradient(left, #F6E6F7, #E2E0F2);

  background: -o-linear-gradient(right, #F6E6F7, #E2E0F2);

  background: -moz-linear-gradient(right, #F6E6F7, #E2E0F2);

  background: linear-gradient(to right, #F6E6F7, #E2E0F2);
}
*/


/* 背景宇宙星光  */
#universe{
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

/* 日间模式卡片页面调整 */
[data-theme=light] {
    --card-bg: rgba(255,255,255,.8) !important; /* 全局背景调整 */
}

/* 夜间模式页面调整 */
[data-theme=dark] {


    --card-bg: rgba(26, 27, 29, .8) !important; /* 全局背景调整 */
    --btn-bg: #62B5EC !important; /* 页面所有按钮夜间背景色 */
}

[data-theme=dark] #web_bg{
    background-image: url(/img/dark_banner.png);
}

/* 雪花特效 */
[data-theme="light"] #snow{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}

/* 雪花黑夜模式不显示 */
[data-theme="dark"] #snow{
  display: none;
}

/* 新年侧边栏 */

#newYear {
    color: white;
    padding: 0 !important;
}

#newYear p,
#newYear h3 {
    font-weight: normal;
    color: inherit;
    margin: 0;
}

#newYear .item-headline {
    display: none;
}

#newYear-main {
    min-height: 160px;
    padding: 1rem;
    position: relative;
    border-radius: 12px;
    background-image: url(/img/newyear.png);
    background-size: cover;
    background-position: center;
}

#newYear-main * {
    position: relative;
    line-height: 1.3;
}

#newYear-main .newYear-time {
    font-weight: bold;
    text-align: center;
}

#newYear-main .time,
#newYear-main .happyNewYear {
    font-size: 3.5rem;
    margin: 1rem 0;
    display: block;
}

#newYear-main .day {
    font-size: 5rem;
}

#newYear-main .day .unit {
    font-size: 1rem;
}

#newYear-main .mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    -webkit-animation: ccc 2.5s linear infinite ;
    animation: ccc 2.5s linear infinite ;
}
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

/* 小风车颜色代码 */
#content-inner.layout h1::before {
    color: #ef50a8 ;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}
#content-inner.layout h2::before {
    color: #fb7061 ;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}
#content-inner.layout h3::before {
    color: #ffbf00 ;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}
#content-inner.layout h4::before {
    color: #a9e000 ;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}
#content-inner.layout h5::before {
    color: #57c850 ;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0.0rem;
}
#content-inner.layout h6::before {
    color: #5ec1e0 ;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0.0rem;
}

/* 小风车hover效果 */
#content-inner.layout h1:hover, #content-inner.layout h2:hover, #content-inner.layout h3:hover, #content-inner.layout h4:hover, #content-inner.layout h5:hover, #content-inner.layout h6:hover {
    color: #49b1f5 ;
}
#content-inner.layout h1:hover::before, #content-inner.layout h2:hover::before, #content-inner.layout h3:hover::before, #content-inner.layout h4:hover::before, #content-inner.layout h5:hover::before, #content-inner.layout h6:hover::before {
    color: #49b1f5 ;
    -webkit-animation: ccc 5s linear infinite ;
    animation: ccc 5s linear infinite ;
}

/* 页面设置icon转动速度调整 */
#rightside_config i.fas.fa-cog.fa-spin {
    animation: fa-spin 5s linear infinite ;
}

#article-container.post-content h1:before,
#article-container.post-content h2:before,
#article-container.post-content h3:before,
#article-container.post-content h4:before,
#article-container.post-content h5:before,
#article-container.post-content h6:before {
  content: '\f863';


/* 一键回到顶部，挂件设置 */

body::-webkit-scrollbar {
    width: 0;
}

.neko {
    width: 64px;
    height: 64px;
    /* background-image: url("https://bu.dusays.com/2022/07/20/62d812db74be9.png");*/
    background-image: url("source/img/keji.png");
    position: absolute;
    right: 32px!important;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(50%);
    cursor: pointer;
    font-family: 'NewFont';
    font-weight: 600;
    font-size: 16px;
    color: #6f42c1;
    display: none;
}

.neko::after {
    display: none;
    width: 100px;
    height: 100px;
    /* background-image: url("https://bu.dusays.com/2022/07/20/62d812d95e6f5.png");*/
    background-image: url("source/img/keji.png");
    background-size: contain;
    z-index: 9999;
    position: absolute;
    right: 50%;
    text-align: center;
    line-height: 100px;
    top: -115%;

}

.neko.showMsg::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko:hover::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko.fontColor::after {
    color: #333;
}


@media screen and (max-width:992px) {
    ::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important
    }

    ::-webkit-scrollbar-track {
        border-radius: 2em;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(255 255 255 / .3);
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
        border-radius: 2em
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent
    }
}

/* aplayer播放器魔改 */
/* 颜色 */
:root {
  --music-theme-op: #4259ef23;
  --music-main-op-deep: var(--music-theme-op-deep) !important;
  --music-white: #fff;
  --music-white-op: rgba(255, 255, 255, 0.2);
  --music-none: rgba(0, 0, 0, 0);
  --music-main: var(--music-theme);
  --music-main-op: var(--music-theme-op);
  --music-shadow-main: 0 8px 12px -3px var(--music-main-op);
  --music-shadow-theme: 0 8px 12px -3px var(--music-theme-op);
  --music-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border: 1px solid var(--music-card-border);
  --style-border-hover: 1px solid var(--music-main);
  --style-border-none: 1px solid transparent;
  --music-main-none: #b8b8b800 !important;
  --style-border-always: 1px solid var(--music-card-border);
  --music-gray-op: #9999992b;
}

[data-theme="light"] {
  --music-theme: #3b70fc;
  --music-theme-op-deep: #4259efdd;
  --music-fontcolor: #363636;
  --music-background: #f7f9fe;
  --music-card-border: #e3e8f7;
  --music-theme-op: #4259ef23;
  --music-secondbg: #f1f3f8;
  --music-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --music-card-bg: #fff;
}

[data-theme="dark"] {
  --music-theme: #0084ff;
  --music-theme-op-deep: #0084ffdd;
  --music-fontcolor: #f7f7fa;
  --music-background: #18171d;
  --music-card-border: #42444a;
  --music-theme-op: #0084ff23;
  --music-secondbg: #30343f;
  --music-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --music-card-bg: #1d1b26;
}




/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}

/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
  text-shadow: 0 0 2px rgb(179, 71, 241) !important;
}

/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
  text-shadow: 0 0 2px #99ccff !important;
}

/* 闪烁变动颜色连续渐变 */
#site-name,
#site-title,
#site-subtitle,
#post-info,
.author-info__name,
.author-info__description {
  transition: text-shadow 1s linear !important;
}

/* 关于 */

